!!!
%html
  %head
    %title MELTING POT
    %link{ rel: "stylesheet", type: "text/css", href: "assets/css/app.css" }

  %body
    %h1
      TEST

  %script{ type: "text/javascript", src: "assets/js/lib/lib.min.js" }
  %script{ type: "text/javascript", src: "assets/js/app.js" }
  %script{ type: "text/javascript", src: "assets/js/service/api-service.js" }
