doctype html
html
  head
    title MELTING POT

    base( href="/" )

    link( rel="stylesheet" type="text/css" href="assets/css/lib/lib.min.css" )
    link( rel="stylesheet" type="text/css" href="assets/css/app.css" )

  body
    header
      .max-width

    section.max-width( ng-view = "" )

    footer
      .copy
        perfect pot for your git repos

  script( type="text/javascript" src="assets/js/lib/lib.min.js" )

  script( type="text/javascript" src="assets/js/app.js" )
  script( type="text/javascript" src="assets/js/config.js" )
  script( type="text/javascript" src="assets/js/route.js" )

  script( type="text/javascript" src="assets/js/service/sort-service.js" )
  script( type="text/javascript" src="assets/js/service/message-service.js" )
  script( type="text/javascript" src="assets/js/service/api-service.js" )
  script( type="text/javascript" src="assets/js/service/github-service.js" )

  script( type="text/javascript" src="assets/js/factory/user.js" )

  script( type="text/javascript" src="assets/js/controller/repo-list-ctrl.js" )
  script( type="text/javascript" src="assets/js/controller/repo-list-item-ctrl.js" )

  script( type="text/javascript" src="assets/js/bootstrap.js" )
